@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@font-face {
  font-family: "Brandon Bold";
  src: url("/font/brandon_text_bold/brandon_text_bold.otf") format("truetype"),
  /* Add other formats if necessary */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poynter Bold";
  src: url("/font/Poynter-Font/PoynterText-Bold.ttf") format("truetype"),
  /* Add other formats if necessary */;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cervo Medium Neue";
  src: url("/font/Demo_Fonts/Cervo_Medium_Neue.otf") format("truetype"),
  /* Add other formats if necessary */;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sentinel Book";
  src: url("/font/Sentinel-Book/Sentinel-Book.ttf") format("truetype"),
  /* Add other formats if necessary */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bon Vivant";
  src: url("/font/Bon-Vivant-Font/BonVivant-Regular.ttf") format("truetype"),
  /* Add other formats if necessary */;
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F9ECE5;
  max-width: 100vw;
  overflow-x: hidden;
}